header {
  //rather than set width with px better use % for responsive
  width: 85%;
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &__logo {
      width: 150px;
    }
    &__link {
      font-family: 'Montserrat';
      font-size: larger;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 220px;
    }
    &__homepage {
      color: black;
      text-decoration: none;
    }
    &__about {
      color: black;
      text-decoration: none;
    }
    &__active {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}
// Responsives media querys
@media (max-width: 768px) {
  header {
    .navbar {
      gap: 30px;
      &__logo {
        width: 128px;
      }
      &__link {
        font-size: medium;
        width: 200px;
      }
    }
  }
}
