$default-star-color: #e3e3e3;
$colored-star: #ff6060;

.star {
  font-size: 25px;
  color: $default-star-color;
  &__colored {
    color: $colored-star;
  }
}

@media (max-width: 768px) {
  .star {
    font-size: 18px;
  }
}
