$arrow-color: #f6f6f6;
$title-color: #ff6060;
$default-star-color: #e3e3e3;

.logement {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
  .details {
    width: 85%;
    &__main {
      display: flex;
      justify-content: space-between;
    }
    &__housing {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      font-weight: 450;
      font-size: xx-large;
      color: $title-color;
      margin-top: 30px;
      margin-bottom: 5px;
    }
    &__location {
      font-weight: 450;
      font-size: large;
      margin: 0;
    }
    .tagsContainer {
      margin-top: 12px;
      .tags {
        display: flex;
        list-style-type: none;
        gap: 10px;
        padding: 0;
        margin: 0;
        &__item {
          color: $arrow-color;
          background-color: #ff6060;
          padding: 5px 30px 5px 30px;
          border-radius: 10px;
          font-weight: bold;
          font-size: small;
        }
      }
    }
    .details__plus {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      &__owner {
        display: flex;
        justify-content: center;
      }
      &__owner__name {
        font-weight: 400;
        color: $title-color;
      }
      &__owner__name__part {
        display: block; /* S'assure que chaque partie est sur une ligne séparée */
        margin-bottom: 5px; /* Ajustez l'espace comme vous le souhaitez */
      }

      &__owner__picture {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-left: 7px;
        margin-right: 1px;
      }
    }
  }
  .collapseContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 85%;
    margin: auto; // importante propriete pour resp ?
    gap: 5em;
  }
  .ratingContainer {
    display: flex;
    margin-right: 1px;
    gap: 11px;
  }
}

@media (max-width: 1024px) {
  .collapseContainer {
    //gap: 2em;
  }
}
// specific case
@media (max-width: 924px) {
  .tags {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .logement {
    .details {
      width: 92%;
      flex-wrap: wrap;

      &__title {
        font-size: x-large;
      }

      &__owner__picture {
        width: 50px;
        height: 50px;
      }
    }
    .starIcon .default__star {
      font-size: 15px;
    }
    .collapseContainer {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }
}

@media (max-width: 471px) {
  .logement {
    .collapseContainer {
      width: 100%;
    }
  }
  .tags {
    flex-wrap: wrap;
    gap: 8px;

    &__item {
      padding: 4px 24px;
    }
  }
}
