// DIMENSIONS RESPONSIVE
// >1024 px pour les ordinateurs / >= 768 px tablette /
// >768 px téléphones (min 320px)

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
