.bannerBox {
  margin-top: 40px;
}

.banner {
  background-image: url(../../src/assets/banner-falaise.webp);
  //height: 100%;
}

.bannerWrapper {
  width: 1440px;
  height: 160px;
  border-radius: 25px;
  border: solid black 2px;

  //.banner__background {
  //height: 500px;
  // }
}
