$main-color: #ffffff;
$secondary-color: #ff6060;

@mixin card-filter($color) {
  background: linear-gradient($color, 90%, black);
}
.cardBox {
  width: 1240px;
  margin-top: 40px;
  background-color: #f6f6f6;
  border-radius: 25px;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 43px 43px;
  gap: 40px;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Montserrat';
    width: 355px;
    height: 355px;
    background-color: $secondary-color;
    @include card-filter($secondary-color);
    border-radius: 15px;
    &__title {
      margin-left: 13px;
      color: $main-color;
    }
  }
}
