$main-color: #ffffff;
$secondary-color: #ff6060;

@mixin card-filter($color) {
  background: linear-gradient($color, 90%, black);
}
.cardBox {
  width: 1440px;
  margin-top: 40px;
  background-color: grey;
  border-radius: 25px;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 60px;
  gap: 60px;
  //border: solid black 1px;
  .card {
    font-family: 'Montserrat';
    width: 395px;
    height: 395px;
    background-color: $secondary-color;
    @include card-filter($secondary-color);
    border-radius: 15px;
    .card__title {
      color: $main-color;
    }
  }
}
