$text-color: #ffffff;
$background-title-color: #ff6060;
$background-color: #f6f6f6;

h2 {
  margin-left: 10px;
}
.collapse {
  font-family: 'Montserrat';
  width: 1240px;
  border-radius: 12px;
  position: relative;
  margin-top: 80px; // TEST for more than one collapse component

  &__title {
    color: $text-color;
    background-color: $background-title-color;
    position: relative; // if not z-index doesn't work
    display: flex;
    //justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    z-index: 2;
  }
  &__button {
    all: unset;
    position: relative;
    left: 1100px;
  }
  &__content {
    display: inline-block;
    visibility: hidden;
    width: 100%;
    background-color: $background-color;
    position: absolute;
    top: 38px;
    border-radius: 8px;
    z-index: 1;
  }
}
