$arrow-color: #f6f6f6;

.slideshowContainer {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  // border: solid black 3px;
}

.carrousel {
  position: relative;
  &__image {
    width: 1240px;
    height: 480px;
    border-radius: 30px;
    overflow: hidden;
  }
  &__left__arrow {
    position: absolute;
    top: 210px;
    font-size: 80px;
    left: 25px;
    color: $arrow-color;
    // position: relative;
    //top: 100px;
  }
  &__right__arrow {
    position: absolute;
    top: 210px;
    font-size: 80px;
    left: 1170px;
    color: $arrow-color;
    //width: 200px;
    // position: relative;
    //top: 100px;
  }
  &__tags {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
