$arrow-color: #f6f6f6;
$title-color: #ff6060;
$default-star-color: #e3e3e3;

.slideshow {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.carrousel {
  position: relative;
  &__image {
    width: 1240px; // Utilisation de la largeur disponible
    height: 440px;
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%; // Remplir toute la largeur du conteneur
      height: 100%; // Adaptation à la hauteur du conteneur
      display: block;
      object-fit: cover;
      transform: scale(1.1);
    }
  }
  &__left__arrow {
    cursor: pointer;
    position: absolute;
    top: 205px;
    font-size: 80px;
    left: 25px;
    color: $arrow-color;
  }
  &__right__arrow {
    cursor: pointer;
    position: absolute;
    top: 205px;
    font-size: 80px;
    left: 1170px;
    color: $arrow-color;
  }
  &__index {
    position: absolute;
    color: $arrow-color;
    font-weight: 400;
    //background-color: #ff6060;
    width: 100%;
    top: 375px;
    p {
      text-align: center;
    }
  }
}

.details {
  //set same width as carrousel
  width: 1240px;
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 450;
    font-size: xx-large;
    color: $title-color;
    //border: #ff6060 solid 2px;
    margin-top: 30px;
    margin-bottom: 5px;
    // padding: 0;
    // margin: 0;
  }
  &__location {
    font-weight: 450;
    font-size: large;
    margin: 0;
  }
  &__owner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
  }
  &__owner__name {
    font-weight: 400;
    color: $title-color;
  }
  &__owner__name__part {
    display: block; /* S'assure que chaque partie est sur une ligne séparée */
    margin-bottom: 5px; /* Ajustez l'espace comme vous le souhaitez */
    &__test {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__owner__picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 1px;
  }
}

.details__additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  //gap: 12px;
  // color: #f6f6f6;
}

.tags {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 0;
  margin: 0;
  &__item {
    color: $arrow-color;
    background-color: #ff6060;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: small;
  }
}

.starIcon {
  display: flex;
  margin-right: 1px;
  gap: 11px;
}
.default__star {
  font-size: 25px;
  color: $default-star-color;
}
.colored__star {
  color: $title-color;
}

.collapseContainer {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  .collapse {
    width: 600px;
    font-size: small;
    overflow: hidden;
    //margin-top: 20px;
    &__title {
      //width: 100%;
      background-color: $title-color;
    }
    &__button {
      all: unset;
      position: absolute;
      left: 530px;
    }
    &__icon {
      font-size: 25px;
      transition: transform 0.2s ease-in-out;
      &__rotate {
        transform: rotate(-180deg);
      }
    }
    &__content {
      width: auto;
      height: 100%;
      //border: solid green 2px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: #f4f4f4;
      min-height: 150px;
    }
    &__content p {
      width: 100%;
      padding: 0;
      margin: 0;
      font-weight: 300;
      margin-top: 5px;
    }
    &__content ul {
      // border: solid 2px red;
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-weight: 350;
    }
    &__content li {
      margin-top: 5px;
    }
  }
}
