$arrow-color: #f6f6f6;
$title-color: #ff6060;
$default-star-color: #e3e3e3;

.slideshow {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.carrousel {
  position: relative;
  width: 85%;
  &__image {
    //width: 100%;
    height: 440px;
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%; // Remplir toute la largeur du conteneur
      height: 100%; // Adaptation à la hauteur du conteneur
      display: block;
      object-fit: cover;
      transform: scale(1.1);
    }
  }
  &__left__arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 1.5%;
    font-size: 80px;
    color: $arrow-color;
  }
  &__right__arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 94%;
    font-size: 80px;
    color: $arrow-color;
  }
  &__index {
    position: absolute;
    color: $arrow-color;
    font-weight: 400;
    //background-color: #ff6060;
    width: 100%;
    top: 85%;
    p {
      text-align: center;
    }
  }
}
.details {
  width: 85%;
  //set same width as carrousel
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__housing {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-weight: 450;
    font-size: xx-large;
    color: $title-color;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  &__location {
    font-weight: 450;
    font-size: large;
    margin: 0;
  }
  .tagsContainer {
    margin-top: 12px;
    .tags {
      display: flex;
      list-style-type: none;
      gap: 10px;
      padding: 0;
      margin: 0;
      &__item {
        color: $arrow-color;
        background-color: #ff6060;
        padding: 5px 30px 5px 30px;
        border-radius: 10px;
        font-weight: bold;
        font-size: small;
      }
    }
  }
}
.details__plus {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  &__owner {
    display: flex;
    justify-content: center;
  }
  &__owner__name {
    font-weight: 400;
    color: $title-color;
  }
  &__owner__name__part {
    display: block; /* S'assure que chaque partie est sur une ligne séparée */
    margin-bottom: 5px; /* Ajustez l'espace comme vous le souhaitez */
  }

  &__owner__picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 1px;
  }
}

.starIcon {
  display: flex;
  margin-right: 1px;
  gap: 11px;
}
.default__star {
  font-size: 25px;
  color: $default-star-color;
}
.colored__star {
  color: $title-color;
}
.collapseContainer {
  display: flex;
  width: 85%;
  margin: auto; // importante propriete
  gap: 5em;
  .collapse {
    font-size: small;
    overflow: hidden;
    &__title {
      background-color: $title-color;
    }
    &__button {
      all: unset;
      position: absolute;
      left: 92%;
    }
    &__icon {
      font-size: 25px;
      transition: transform 0.2s ease-in-out;
      &__rotate {
        transform: rotate(-180deg);
      }
    }
    &__content {
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: #f4f4f4;
      min-height: 150px;
    }
    &__content p {
      width: 100%;
      padding: 0;
      margin: 0;
      font-weight: 300;
      margin-top: 5px;
    }
    &__content ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-weight: 350;
    }
    &__content li {
      margin-top: 5px;
    }
  }
}
@media (max-width: 1024px) {
  .carrousel {
    &__right__arrow {
      left: 92.6%;
    }
  }
  .collapseContainer {
    gap: 3em;
  }
}
// specific case
@media (max-width: 924px) {
  .carrousel {
    &__right__arrow {
      left: 92%;
    }
  }
  .collapseContainer {
    .collapse {
      &__button {
        left: 90%;
      }
    }
  }
  .tags {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .carrousel {
    width: 92%;

    &__image {
      height: 330px;
    }

    &__left__arrow,
    &__right__arrow {
      font-size: 45px;
    }

    &__index {
      display: none;
    }
  }

  .details {
    width: 92%;
    flex-wrap: wrap;

    &__title {
      font-size: x-large;
    }

    &__owner__picture {
      width: 50px;
      height: 50px;
    }
  }

  .collapseContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .starIcon .default__star {
    font-size: 15px;
  }
}

@media (max-width: 471px) {
  .carrousel {
    &__right__arrow {
      left: 91%;
    }
  }
  .tags {
    flex-wrap: wrap;
    gap: 8px;

    &__item {
      padding: 4px 24px;
    }
  }
  .collapseContainer {
    width: 100%;
  }
}
