// DIMENSIONS RESPONSIVE
// >1024 px pour les ordinateurs / >= 768 px tablette /
// >768 px téléphones (min 320px)
html,
body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.main-content {
  width: 100%;
  flex: 1;
}
